<html>
<head>
<title>signed.codes: help</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/picnic.min.css" />
<link rel="stylesheet" href="/static/sc.css" />
</head>
<body>
    <nav> 
        <a href="/" class="brand"><span>Signed Codes</span></a> 
        <input id="bmenu" type="checkbox" class="show"> 
        <label for="bmenu" class="burger toggle pseudo button">Menu</label> 
        <div class="menu">
            <a href="/signup" class="pseudo button">Sign your own code for donations</a> 
            <a href="/help" class="pseudo button">Help out</a>
        </div>
    </nav>

    <main class="intro">
      <div class="visual flex one-900">
        <h1>Want to help out in other ways?</h1>
        <h2>Spread the word</h2>

        <p>You know how. Twitter, email, Slack. Maybe not TikTok.</p>

        <h2>Help out with the website</h2>

        <p>We wrote this in a couple of days between homeschooling children.
        It shows. <a href="https://github.com/signedcodes/www">Code is on GitHub.</a></p>

        <h2>Help make beauty</h2>

        <p>We need to turn beautiful code into beautiful art.
        Typography, layout. If that's your cup of tea:
        <a href="mailto:help@signed.codes">help@signed.codes</a></p>

        <h2>Help with logistics</h2>

        <p>We need to print beautiful code, ship it to its creator
        for a signature, and to be shipped on to donors.
        If you're game: <a href="mailto:help@signed.codes">help@signed.codes</a></p>

      </div>

    </main>
    <footer class="footer">
      <div class="content">
        <p>&copy; 2020 Signed Codes</p>
      </div>
    </footer>
</body>
</html>
