<html>
<head>
<title>signed.codes: signed code artwork</title>
<link rel="stylesheet" href="/static/picnic.min.css" />
<link rel="stylesheet" href="/static/sc.css" />

</head>
<body>
    <main class="intro">
      <div class="visual flex one two-600">
        <div>
            <h1>Signed Codes</h1>
            <h2>Buy signed code artwork by your favorite developers.</h2>
            <p>All proceeds go to ...</p>
            <p><a href="signup">Donate your own signed code</a></p>
            <p><a href="volunteer">Volunteer to help</a></p>
            <p>TODO: picture of example codeart</p>
            <p>TODO: list of developers selling artcode</p>
        </div>
        <div class="poster">
            <!-- from https://www.pxfuel.com/en/free-photo-qjlzq, free for commercial use. -->
            <img src="/static/poster.jpg">
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="content">
        <p>&copy; 2020 Signed Codes</p>
      </div>
    </footer>
</body>
</html>
