<html>
<head>
<title>signed.codes: signed code artwork</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="static/SC.ico" sizes="16x16" />
<link
  rel="shortcut icon"
  href="static/SC-32px.png"
sizes="32x32"
type="image/png"
/>
<link rel="stylesheet" href="/static/picnic.min.css" />
<link rel="stylesheet" href="/static/sc.css" />
</head>
<body>
    <nav> 
        <a href="/" class="brand"><img src="/static/SC-32px.png"/>&nbsp;<span>Signed Codes</span></a> 
        <input id="bmenu" type="checkbox" class="show"> 
        <label for="bmenu" class="burger toggle pseudo button">Menu</label> 
        <div class="menu"> 
            <a href="/signup" class="pseudo button">Sign your own code for donations</a> 
            <a href="/help" class="pseudo button">Help out</a>
        </div>
    </nav>
    <main class="intro">
      <div class="visual flex one two-600">
        <div>
            <h1>Get signed code art and help your favorite cause.</h2>
            <p>Donate to a campaign or non-profit, and receive a limited-edition signed code snippet from your favorite developer.</p>
            <p>All code art is hand-signed, printed on high-bond paper, and suitable for framing.</p>
            <p><a href="/signup"><button>Sign your own code for donations</button></a></p>
        </div>
        <div class="poster">
            <!-- from https://www.pxfuel.com/en/free-photo-qjlzq, free for commercial use. -->
            <img src="/static/poster.png">
        </div>
      </div>
      <div class="visual flex one-900">
        <h2></h2>
      </div>

    </main>
    <footer class="footer">
      <div class="content">
        <p>&copy; 2020 Signed Codes</p>
      </div>
    </footer>
</body>
</html>
