<html>
<head>
<title>signed.codes: signed code artwork</title>
</head>
<body>

<p>Buy signed code artwork by your favorite developers.</p>

<p>All proceeds go to ...</p>

<p><a href="signup">Donate your own signed code</a></p>
<p><a href="volunteer">Volunteer to help</a></p>

<p>TODO: picture of example codeart</p>

<p>TODO: list of developers selling artcode</p>

</body>
</html>
