<html>
<head>
<title>signed.codes: sign up</title>
</head>
<body>

<h1>It's easy</h1>

<ol>Sign in with GitHub</ol>
<ol>Choose a piece of code</ol>
<ol>Tell your followers</ol>
<ol>We'll mail you printed codeart to sign. Sign it.</ol>

<a href="https://github.com/login/oauth/authorize?client_id={{.ClientID}}">Get started now!</a>

</body>
</html>
