<html>
<head>
<title>signed.codes: sign up</title>
</head>
<body>

<h1>It's easy</h1>

<ol>
<li>Sign in with GitHub</li>
<li>Choose a piece of code</li>
<li>Tell your followers</li>
<li>We'll mail you printed codeart to sign. Sign it.</li>
</ol>

<a href="https://github.com/login/oauth/authorize?client_id={{.ClientID}}">Get started now!</a>

</body>
</html>
