<html>
<head>
<title>signed.codes: {{.Login}}</title>
</head>
<body>

<p>{{.Login}}</p>
<p>{{.Name}}</p>

<p><img src="{{.AvatarURL}}" alt="{{.Name}}" width="200" height="200" /></p>


</body>
</html>
