<html>
<head>
<title>signed.codes: sign up</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/picnic.min.css" />
<link rel="stylesheet" href="/static/sc.css" />
</head>
<body>
    <nav> 
        <a href="/" class="brand"><span>Signed Codes</span></a> 
        <input id="bmenu" type="checkbox" class="show"> 
        <label for="bmenu" class="burger toggle pseudo button">Menu</label> 
        <div class="menu"> 
            <a href="signup" class="pseudo button active">Donate your own code</a> 
            <a href="volunteer" class="pseudo button">Volunteer to help</a>
        </div>
    </nav>

    <main class="intro">
        <div class="visual flex one-900">
            <h1>Donating your code is easy</h1>
            <ol>
            <li>Sign in with GitHub</li>
            <li>Choose a piece of code</li>
            <li>Fill out a short form on our website</li>
            <li>When your codeart sells, we'll mail you a print to sign and a pre-paid envelope. Sign the print, and drop it in the mail.</li>
            </ol>
            <a href="https://github.com/login/oauth/authorize?client_id={{.ClientID}}">
                <button>Get started now!</button>
            </a>
        </div>
    </main>
    <footer class="footer">
      <div class="content">
        <p>&copy; 2020 Signed Codes</p>
      </div>
    </footer>
</body>
</html>
