<html>
<head>
<title>signed.codes: volunteer</title>
</head>
<body>

<h1>Want to help out in other ways?</h1>

<h2>Help spread the word</h2>

 TODO: link to prefilled tweet or something?

<h2>Help out with the website</h2>

Send us pull requests on GitHub.
Help us triage issues and PRs on GitHub.
You know, all that jazz.

TODO: link to GH project

<h2>Help make beautiful codeart</h2>

We need to turn beautiful code into beautiful art.
Typography, layout. If that's your cup of tea,
please get in touch.

TODO: email address? or make a github project
with an issue per code to beautify?

<h2>Help with logistics</h2>

We need to get beautiful art shipped to its creators
for signatures, framed, and shipped to donors.
If you're game to help out with that all-important work,
drop us a line.

TODO: email address?

</body>
</html>
